<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
<listeners>
		<listener class-name="com.usa.listener.TestListener" />
	</listeners>
  <test name="functionaltest" >
    <classes>
       <class name="com.usa.myRunner.MyRunner" />
    </classes>
  </test>
</suite>
